@import "https://fonts.googleapis.com/css?family=Raleway";

#formName {
    display: none;
    border: 6px solid #c1272d;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #ffefc9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)

}

input {
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;

    display: block;
    width: 280px;
    padding: .4em;
}
#closeButton {
    display: none;
    border: 6px solid #c1272d;
    margin: -55px 0px;
    padding: 1em;
    width: 100px;
    text-align: center;
    background: #ffddc9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)

}